*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cuerpo{
    height: auto;
    width: 100%;
    padding: 0 20px;
    margin-top: 140px;
}

#pie-dt{
    width: 100%;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

ul{
    padding-left: 0;
}