*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// COMPONENTES

#cuerpo{
    height: auto;
    width: 100%;
    padding: 0 20px;
    margin-top: 120px;
    font-family: $fuenteGral;
}

#pie-dt{
    width: 100%;
}

// LINKS Y LISTAS

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

ul{
    padding-left: 0;
}

// TITULOS

h1, h2, h3, h4{
    text-decoration: underline;
    text-align: center;
}

// principal
h1{
    margin: 15px;
    padding: 20px;
}

// titulos de card
h2, h3, h4{
    padding: 5px;
}

// titulo para acompañar texto
h6{
    margin-top: 5px;
}