// NAV Y FOOTER GENERAL

@media(min-width:$mobile) and (max-width:$laptop){
    .nav-desktop{
        display: none;
    }

    #pie-dt{
        display: none;
    }
}

@media(min-width:$tablet) and (max-width:$laptop){
    .logo{
        transform: scale(1.3);
    }
    .nav-title{
        transform: scale(1.3);
    }
}

@media(min-width:$laptop){
    #cuerpo{
        margin-top: 10px;
    }
    .nav-bootstrap{
        display: none;
    }
    .nav-dt-cont{
        display: flex;
        justify-content: space-evenly;
    }
}


@media(min-width:$desktop){
    .nav-dt-cont{
        display: flex;
        justify-content: space-around;
    }
}

// INDEX
@media(min-width:$tablet) and (max-width:$desktop){
    .cuerpo{
        display: grid;
        grid-gap: 15px;
        grid-template-areas: 
        "curso prox"
        "receta receta";
    }
    .curso{
        grid-area: curso;
    }
    .prox{
        grid-area: prox;
    }
    .receta{
        grid-area: receta;
        .card-flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card{
                margin: 10px;
            }
        }
    }
}

@media(min-width:$desktop){
    .cuerpo{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "curso receta"
        "curso receta"
        "prox prox";
    }
    .curso{
        grid-area: curso;
    }
    .prox{
        grid-area: prox;
    }
    .receta{
        grid-area: receta;
        .card-flex{
            display: flex;
        }
    }
    
}

