// CUERPO MARGIN TOP
@media(max-width:$laptop) {
    #cuerpo {
        margin-top: 150px;
    }
}

// NAV Y FOOTER GENERAL

@media(min-width:$mobile) and (max-width:$laptop) {
    .nav-desktop {
        display: none;
    }

    #pie-dt {
        display: none;
    }
}

@media(min-width:$tablet) and (max-width:$laptop) {
    .logo {
        transform: scale(1.3);
    }

    .nav-title {
        transform: scale(1.3);
    }
}

@media(min-width:$laptop) {
    #cuerpo {
        margin-top: 10px;
    }

    .nav-bootstrap {
        display: none;
    }

    .nav-dt-cont {
        display: flex;
        justify-content: space-evenly;
        margin-left: 20px;
    }
}


@media(min-width:$desktop) {
    .nav-dt-cont {
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width:$tablet) {
    .navbar-brand {
        display: none;
    }
}

// INDEX
@media(min-width:$tablet) and (max-width:$desktop) {
    body {
        .cuerpo {
            display: grid;
            justify-content: center;
            grid-gap: 30px;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "curso receta"
                "prox receta";

            .curso {
                grid-area: curso;
                height: fit-content;
                margin-right: 15px;
            }

            .receta {
                grid-area: receta;

                .card-flex {
                    display: grid;
                    align-items: center;
                }
            }

            .prox {
                grid-area: prox;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                margin: 15px;
            }
        }
    }
}

@media(min-width:$laptop) {
    body {
        .cuerpo {
            padding: 0 50px;
        }
    }
}

@media(min-width:$desktop) {
    .cuerpo {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "curso receta"
            "curso prox";
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        grid-gap: 50px;
    }

    .curso {
        grid-area: curso;
    }

    .prox {
        grid-area: prox;
    }

    .receta {
        grid-area: receta;

        .card-flex {
            display: flex;

            .card {
                margin: 10px;
            }
        }
    }

}

// CONTACTO
@media(min-width:$tablet) and (max-width:$laptop) {
    body {
        .contacto {
            .info-cont {
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;

                .info-contacto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

        }
    }
}

@media(min-width:$laptop) {
    body {
        h1 {
            font-size: 50px;
        }

        .contacto {
            display: grid;

            .info-cont {
                display: grid;
                grid-template-columns: 70% 30%;
                align-items: center;
                margin: 25px;

                .info-contacto {
                    text-align: center;
                }
            }

            .contacto-form {
                margin: 25px;
            }
        }
    }
}

@media(min-width:$desktop) {
    body {
        .contacto {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info-cont {
                grid-template-columns: 1fr;

                .info-contacto {
                    text-align: start;
                }
            }

            .contacto-form {
                width: 90%;
            }
        }
    }
}

// LOCALES

@media(min-width:$tablet) {
    body {
        .visitanos {
            .invitacion {
                display: flex;

                .izq,
                .der {
                    margin: 10px;
                }
            }

            .img-cont {
                display: flex;

                .izq,
                .der {
                    margin: 10px;
                }
            }

            .card-cont {
                .card-flex {
                    margin: 10px;
                }
            }
        }
    }
}

@media(min-width:$laptop) {
    body {
        .visitanos {
            .invitacion {
                margin: 0 50px;

                .der {
                    height: auto;

                    p {
                        margin-top: 35px;
                    }
                }
            }

            .img-cont {
                margin: 0 50px;
            }

            .card-cont {
                .card-flex {
                    display: grid;
                    margin: 0 50px;

                    .card-up {
                        display: flex;

                        .up-l {
                            height: auto;
                            justify-content: space-between;
                            margin-right: 10px;
                        }

                        .up-r {
                            margin-left: 10px;
                        }
                    }
                }
            }

        }
    }
}

// RECETARIO
@media(min-width:$laptop) {
    body {
        .recetario {
            margin: $m050;

            .receta-cont {
                .cont-flex {
                    display: flex;

                    .izq,
                    .der {
                        width: 50%;
                        padding: 15px;
                    }
                }
            }
        }
    }
}

@media(min-width:$desktop) {
    body {
        .recetario {
            .receta-cont {
                margin: 0 150px;

                .cont-flex {
                    .izq {
                        width: 40%;
                    }

                    .der {
                        width: 60%;
                    }
                }
            }
        }
    }
}

// CAMPUS
@media(min-width:$tablet) {
    body {
        .campus {
            .titulo {
                margin: $m050;
            }

            .card-flex {
                display: flex;

                .izq {
                    width: 70%;
                    margin: 31px;
                    display: grid;
                }

                .flex-der {
                    padding: 15px ;
                    display: grid;
                    grid-template-rows: 1fr;
                }

            }
        }
    }
}

@media(min-width:$desktop){
    body{
        .campus{
            padding: 0 50px;
        }
    }
}

// RRHH
@media(min-width:$tablet) {
    body {
        .rrhh {
            .card-flex {
                display: grid;
                grid-template-columns: 1fr;

                .izq {
                    margin: 31px;
                    h2 {
                        text-align: center;
                    }

                    .izq-cont {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: repeat(5, 1fr);
                        grid-gap: 5px;
                    }
                }
                .flex-der{
                    display: flex;
                    flex-direction: column-reverse;
                    margin: 31px;
                }
                .der {
                    height: fit-content;
                    padding: 15px;
                }
            }
        }
    }
}

@media(min-width:$laptop){
    body{
        .rrhh{
            .card-flex{
                display: flex;
                .flex-der{
                    display: flex;
                    flex-direction: column;
                    margin: 15px;
                }
            }
        }
    }
}

@media(min-width:$desktop) {
    body {
        .rrhh {
            .card-flex {

                .izq {
                    width: 75%;

                    .izq-cont {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, 250px);
                        .card{
                            display: flex;
                            justify-content: space-evenly;
                        }
                    }
                }
            }
        }
    }
}