// FONTS
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

$fuenteTitulo: "Dancing Script", cursive;

// COLOR
$colorTit: rgb(167, 28, 51);
$colorNav: rgb(255, 192, 203);

// MEDIA
$mobile: 320px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1440px;
