@import './base/generales';
@import './components/header';





.logo{
    border: 2px solid black;
    background-color: grey;
    border-radius: 100%;
    padding: 5px;
    width: 100%;
    height: 50px;
}