body {
    .pie-dt {
        display: flex;
        justify-content: space-around;
        height: 100%;
        padding: 15px;
        background-color: map-get($colores, color-foot);

        .pie-dt-contacto {
            display: flex;
            align-items: center;
            flex-direction: column;

            ul {
                li {
                    display: inline-block;
                    margin: 10px;

                    a {
                        font-size: 40px;
                        color: rgb(238, 130, 130);
                    }

                    a:hover {
                        color: rgb(194, 194, 119);
                    }
                }

                li:hover {
                    transform: scale(1.2);
                    transition: all ease 0.1s;
                }
            }
        }
        .pie-dt-serv{
            display: flex;
            align-items: center;
            flex-direction: column;
            ul{
                li{
                    display: inline-block;
                    text-align: center;
                    margin: 10px;
                    @extend .borde-link;
                    a{
                        color:black
                    }
                }
            }
        }
        .pie-dt-sitemap{
            ol{
                li{
                    a:hover{
                        color: black;
                        text-decoration: underline;
                    }
                    ul{
                        margin-left: 15px;
                        li{
                            list-style: circle;
                        }
                    }
                }
            }
        }

    }
}