body {
    header {
        .nav-bootstrap {
            .navbar {
                background-color: map-get($colores, color-nav);
                display: flex;
                flex-wrap: nowrap;

                .nav-cont {
                    .logo {
                        @extend .logo;
                        width: 74px;
                        margin-left: 50px;
                    }

                    .link-title {
                        color: map-get($colores , color-tit);
                        font-family: $fuenteTitulo;

                        .nav-title {
                            border: 2px solid black;
                            padding: 10px;
                            border-radius: 20px;
                            margin-right: 25px;
                            text-align: center;
                            font-size: 19px;
                            margin-top: 15px;
                        }
                    }


                    .oc-bt {
                        padding: 20px;
                        margin-right: 50px;
                    }

                    div.offcanvas {
                        .oc-color {
                            background-color: map-get($colores, oc-color);
                        }

                        .oc-b-color {
                            background-color: map-get($colores, oc-b-color);
                        }
                    }
                }

            }
        }

        .nav-desktop {
            width: 100%;
            height: 128px;
            background-color: map-get($colores, color-nav);

            .nav-dt-cont {
                height: 100%;
                display: flex;
                align-items: center;

                .logo-cont {
                    a {
                        .logo-dt {

                            @extend .logo;
                            height: 100px;

                        }

                        .logo-dt:hover {
                            transform: scale(1.2);
                            transition: all ease 0.5s;
                        }
                    }
                }

                .nav-dt-title {
                    color: map-get($colores, color-tit);
                    font-family: $fuenteTitulo;
                }

                .list {
                    ul {
                        margin-bottom: 0;

                        li {
                            display: inline-block;
                            margin: 20px;

                            a {
                                @extend .borde-link;
                                color: black;
                            }

                            a:hover {
                                background-color: rgba(220, 20, 60, 0.377);
                                color: white;
                            }
                        }

                        li:hover {
                            transform: scale(1.1);
                            transition: all ease 0.1s;
                        }
                    }
                }
            }
        }
    }
}