.navbar{
    background-color: rgba(255, 192, 203, 0.37);
    color: rgb(231, 95, 117);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.oc-color{
    background-color: pink;
}

.oc-b-color{
    background-color: beige;
}