@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cuerpo {
  height: auto;
  width: 100%;
  padding: 0 20px;
  margin-top: 120px;
  font-family: "Josefin Sans", sans-serif;
}

#pie-dt {
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0;
}

h1, h2, h3, h4, h5 {
  text-decoration: underline;
  text-align: center;
}

h1 {
  margin: 15px;
  padding: 20px;
}

h2, h3, h4 {
  padding: 5px;
}

@media (max-width: 425px) {
  #cuerpo {
    margin-top: 150px;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .nav-desktop {
    display: none;
  }
  #pie-dt {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logo, body header .nav-desktop .nav-dt-cont .logo-cont a .logo-dt, body header .nav-bootstrap .navbar .nav-cont .logo {
    transform: scale(1.3);
  }
  .nav-title {
    transform: scale(1.3);
  }
}
@media (min-width: 1023px) {
  #cuerpo {
    margin-top: 10px;
  }
  .nav-bootstrap {
    display: none;
  }
  .nav-dt-cont {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .nav-dt-cont {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .cuerpo {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "curso prox" "receta receta";
  }
  .curso {
    grid-area: curso;
  }
  .prox {
    grid-area: prox;
  }
  .receta {
    grid-area: receta;
  }
  .receta .card-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .receta .card-flex .card, .receta .card-flex body .visitanos .card-cont, body .visitanos .receta .card-flex .card-cont, .receta .card-flex body main .cuerpo .card-cont, body main .cuerpo .receta .card-flex .card-cont {
    margin: 10px;
  }
}
@media (min-width: 1440px) {
  .cuerpo {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "curso receta" "curso receta" "prox prox";
  }
  .curso {
    grid-area: curso;
  }
  .prox {
    grid-area: prox;
  }
  .receta {
    grid-area: receta;
  }
  .receta .card-flex {
    display: flex;
  }
}
@media (min-width: 1023px) {
  h1 {
    font-size: 50px;
  }
  .contacto {
    padding: 0 50px;
    display: flex;
  }
  .contacto .info-contacto {
    width: 50%;
  }
  .contacto .info-contacto p {
    font-size: 20px;
    letter-spacing: 5px;
  }
  .contacto .contacto-form {
    width: 50%;
  }
}
@media (min-width: 1023px) {
  body .visitanos .card-flex {
    display: flex;
  }
  body .visitanos .card-flex .card-p {
    margin-left: 20px;
    padding: 59px;
  }
}
@media (min-width: 1440px) {
  body .visitanos {
    padding: 0 3rem;
  }
  body .visitanos .invitacion {
    display: flex;
  }
  body .visitanos .invitacion .card, body .visitanos .invitacion .card-cont {
    margin: 5px;
    height: 230px;
  }
}
.logo, body header .nav-desktop .nav-dt-cont .logo-cont a .logo-dt, body header .nav-bootstrap .navbar .nav-cont .logo {
  border: 2px solid black;
  background-color: gray;
  border-radius: 100%;
  padding: 2px;
}

.borde-link, body .pie-dt .pie-dt-serv ul li, body header .nav-desktop .nav-dt-cont .list ul li a {
  border: 2px solid black;
  padding: 15px;
  border-radius: 30px;
  background-color: rgba(245, 245, 220, 0.37);
}

.card, body .visitanos .card-cont, body .visitanos .card, body main .cuerpo .card-cont, body main .cuerpo .card {
  width: 100%;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem auto;
}

body main h1 {
  font-family: "Dancing Script", cursive;
}
body main .cuerpo .card, body main .cuerpo .card-cont {
  background-color: rgb(255, 192, 203);
}
body main .cuerpo .card .img-card, body main .cuerpo .card-cont .img-card {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main .cuerpo .card .cuerpo-card p, body main .cuerpo .card-cont .cuerpo-card p {
  text-align: center;
}
body main .cuerpo .card .cuerpo-card a button, body main .cuerpo .card-cont .cuerpo-card a button {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: beige;
}
body main .cuerpo .card .cuerpo-card button:hover, body main .cuerpo .card-cont .cuerpo-card button:hover {
  background-color: rgba(220, 20, 60, 0.377);
  color: white;
  transition: all ease 0.1s;
}
body main .cuerpo .card-cont {
  padding: 20px;
}
body main .cuerpo .card-cont .bg-color {
  background-color: beige;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body main .contacto {
  margin: 20px 0;
}
body main .contacto .contacto-form .form {
  margin-top: 20px;
  width: 100%;
}
body main .contacto .contacto-form .form input, body main .contacto .contacto-form .form textarea {
  width: 100%;
  background-color: beige;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(255, 192, 203);
}
body main .contacto .contacto-form .sub-btn {
  display: flex;
  justify-content: end;
}
body main .contacto .contacto-form .sub-btn input {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: rgb(255, 192, 203);
  border: none;
}

body .visitanos .card, body .visitanos .card-cont, body .visitanos main .cuerpo .card, body .visitanos main .cuerpo .card-cont, body main .cuerpo .visitanos .card, body main .cuerpo .visitanos .card-cont {
  background-color: rgb(255, 192, 203);
  padding: 15px;
}
body .visitanos .card-cont .card ul, body .visitanos .card-cont .card-cont ul {
  padding: 0 10px;
}
body .visitanos .card-cont .card ul li, body .visitanos .card-cont .card-cont ul li {
  list-style: circle;
}
body .visitanos .card-cont a button {
  width: 100%;
  border-radius: 10px;
  background-color: beige;
}
body .visitanos .card-cont button:hover {
  background-color: rgba(220, 20, 60, 0.377);
  color: white;
  transition: all ease 0.1s;
}

body header .nav-bootstrap .navbar {
  background-color: rgb(255, 192, 203);
  display: flex;
  flex-wrap: nowrap;
}
body header .nav-bootstrap .navbar .nav-cont .logo, body header .nav-bootstrap .navbar .nav-cont .nav-desktop .nav-dt-cont .logo-cont a .logo-dt, body header .nav-desktop .nav-dt-cont .logo-cont a .nav-bootstrap .navbar .nav-cont .logo-dt {
  width: 74px;
  margin-left: 50px;
}
body header .nav-bootstrap .navbar .nav-cont .link-title {
  color: rgb(167, 28, 51);
  font-family: "Dancing Script", cursive;
}
body header .nav-bootstrap .navbar .nav-cont .link-title .nav-title {
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-right: 25px;
  text-align: center;
  font-size: 19px;
  margin-top: 15px;
}
body header .nav-bootstrap .navbar .nav-cont .oc-bt {
  padding: 20px;
  margin-right: 50px;
}
body header .nav-bootstrap .navbar .nav-cont div.offcanvas .oc-color {
  background-color: pink;
}
body header .nav-bootstrap .navbar .nav-cont div.offcanvas .oc-b-color {
  background-color: beige;
}
body header .nav-desktop {
  width: 100%;
  height: 128px;
  background-color: rgb(255, 192, 203);
}
body header .nav-desktop .nav-dt-cont {
  height: 100%;
  display: flex;
  align-items: center;
}
body header .nav-desktop .nav-dt-cont .logo-cont a .logo-dt {
  height: 100px;
}
body header .nav-desktop .nav-dt-cont .logo-cont a .logo-dt:hover {
  transform: scale(1.2);
  transition: all ease 0.5s;
}
body header .nav-desktop .nav-dt-cont .nav-dt-title {
  color: rgb(167, 28, 51);
  font-family: "Dancing Script", cursive;
}
body header .nav-desktop .nav-dt-cont .list ul {
  margin-bottom: 0;
}
body header .nav-desktop .nav-dt-cont .list ul li {
  display: inline-block;
  margin: 20px;
}
body header .nav-desktop .nav-dt-cont .list ul li a {
  color: black;
}
body header .nav-desktop .nav-dt-cont .list ul li a:hover {
  background-color: rgba(220, 20, 60, 0.377);
  color: white;
}
body header .nav-desktop .nav-dt-cont .list ul li:hover {
  transform: scale(1.1);
  transition: all ease 0.1s;
}

body .pie-dt {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 15px;
  background-color: rgb(255, 231, 186);
}
body .pie-dt .pie-dt-contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .pie-dt .pie-dt-contacto ul li {
  display: inline-block;
  margin: 10px;
}
body .pie-dt .pie-dt-contacto ul li a {
  font-size: 40px;
  color: rgb(238, 130, 130);
}
body .pie-dt .pie-dt-contacto ul li a:hover {
  color: rgb(194, 194, 119);
}
body .pie-dt .pie-dt-contacto ul li:hover {
  transform: scale(1.2);
  transition: all ease 0.1s;
}
body .pie-dt .pie-dt-serv {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .pie-dt .pie-dt-serv ul li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}
body .pie-dt .pie-dt-serv ul li a {
  color: black;
}

/*# sourceMappingURL=style.css.map */
