body {
    main {
        .campus {
            margin: 20px;

            .card {
                @extend .card;
                padding: 10px;
            }

            .titulo {
                text-align: center;
            }

            .card-flex {
                .fondo {
                    background-color: map-get($colores, color-nav);
                    padding: 15px;
                    border-radius: 10px;

                    .card {
                        display: flex;
                        justify-content: space-between;

                        p {
                            margin-bottom: 0;
                        }

                        a {
                            button {
                                width: 100%;
                                border-radius: 10px;
                                background-color: beige;
                                margin-top: 10px;
                            }
                        }

                        button:hover {
                            background-color: rgba(220, 20, 60, 0.377);
                            color: white;
                            transition: all ease 0.1s
                        }
                    }


                }

                .card {
                    div {
                        h6 {
                            text-decoration: underline;
                        }
                    }

                    ul {
                        padding: 0 25px;

                        li {
                            list-style: circle;
                        }
                    }
                }

                .card-img {
                    width: 100%;
                    height: fit-content;
                    border: 2px solid rgba(0, 0, 0, 0.377);
                    border-radius: 10px;
                    margin: 15px 0;

                    .img-card {
                        border-radius: 10px;
                        width: 100%;
                    }
                }
            }

            margin-bottom: $m100;
        }
    }

}