body {
    main {
        h1 {
            font-family: $fuenteTitulo;
        }

        .cuerpo {


            .card {
                @extend .card;
                background-color: map-get($colores , color-nav);

                .animation-1 {
                    @include animation(card-index, 4s, infinite, 3s, linear)
                }

                .animation-2 {
                    @include animation(card-index, 4s, infinite, 8s, linear)
                }

                .animation-3 {
                    @include animation(card-index, 4s, infinite, 13s, linear)
                }

                .img-card {
                    width: 100%;
                    height: auto;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .cuerpo-card {
                    p {
                        text-align: center;
                    }

                    a {
                        button {
                            width: 100%;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            background-color: beige;
                        }
                    }

                    button:hover {
                        background-color: rgba(220, 20, 60, 0.377);
                        color: white;
                        transition: all ease 0.1s
                    }
                }
            }

            .card-cont {
                @extend .card;
                padding: 20px;

                .bg-color {
                    background-color: beige;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}