body {
    .visitanos {
        margin: 20px;

        .card {
            @extend .card;
            background-color: map-get($colores , color-nav);
            padding: 15px
        }

        .card-cont {
            width: 100%;
            .card {
                ul {
                    padding: 0 20px;

                    li {
                        list-style: circle;
                    }
                }
            }

            a {
                button {
                    width: 100%;
                    border-radius: 10px;
                    background-color: beige;
                }
            }

            button:hover {
                background-color: rgba(220, 20, 60, 0.377);
                color: white;
                transition: all ease 0.1s
            }

            .boton-camp {
                @include animation(boton-camp, 2s, infinite, 0s, linear);
            }

            .boton-cv {
                @include animation(boton-camp, 2s, infinite, 0s, linear);
            }

            .boton-receta{
                @include animation(boton-camp, 2s, infinite, 0s, linear)
            }
        }

        margin-bottom: $m100;
    }

    .img-cont {
        .card-img {
            width: 100%;
            height: fit-content;
            border: 2px solid rgba(0, 0, 0, 0.377);
            border-radius: 10px;
            margin: 15px 0;

            .img-card {
                border-radius: 10px;
                width: 100%;
            }
        }


    }
}