body{
    .recetario{
        margin: 20px;
        .receta-cont{
            .card{
                .img-card{
                    border-radius: 10px;
                }
            }
            .ingr{
                ul{
                    li{
                        list-style: circle;
                        margin-left: 15px;
                    }
                }
            }
            .steps{
                ol{
                    li{
                        margin: 25px 0;
                    }
                }
            }
        }
        margin-bottom: $m100;
    }
}