.logo {
    border: 2px solid black;
    background-color: $fondo-color-logo;
    border-radius: 100%;
    padding: 2px;
}

.borde-link {
    border: 2px solid black;
    padding: 15px;
    border-radius: 30px;
    background-color: rgba(245, 245, 220, 0.37)
}